In [4]:
%pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 242.1/242.1 kB 5.2 MB/s eta 0:00:00 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
pd.__version__

'1.5.0'

In [18]:
df = pd.read_excel("./ks_2022_10_02.xlsx")
print (df.shape)
df.head(n=2)

(47, 12)

,Timestamp,တက်ရောက်မည့်သူ အမည်,Occupation (အလုပ်အကိုင်),Qualification Field (ပညာအရည်အချင်း),Free Knowledge Sharing Session for Data Science သို့တက်ရောက်ရသည့် အကြောင်းရင်း,Data Science နှင့် ပတ်သက်သော Training Programme အား တက်ရောက်ရန် စိတ်ဝင်ပါသလား။,Gender,Contact Number(ဆက်သွယ်ရမည့် ဖုန်းနံပါတ်),Contact Email (ဆက်သွယ်ရမည့် အီးမေးလ်လိပ်စာ),Address (နေရပ်လိပ်စာ),Applications of Data Science နှင့် Job Opportunities of a Data Scientist အကြောင်းအရာနဲ့ပတ်သတ်လို့ မိမိသိလိုသည့် အကြောင်းအရာကို လွတ်လပ်စွာ မေးမြန်းနိုင်ပါသည်။,CodeChamps Coding School မှ ဖွင့်လှစ်သော သင်တန်းများအကြောင်း နှင့် ပတ်သက်သော information များ နှင့် newsletter တို့အား ရယူလိုပါသလား။
0,2022-09-25 18:52:36.497,Kyaw Ko Ko Nyein,Data Assistant,BA (Political Science),"Data Scientist တစ်ယောက်ဖြစ်ချင်သောကြောင့်, မိမ...",Yes,Male,"09422525552, 09254399676",kyawko2nyein@gmail.com,Pakokku,"Data mining, big data နဲ့ deep learning အကြောင...",no
1,2022-09-25 19:15:24.273,Shwe yee,Automation engineer,"G.Dip.S.A(NUS, SG)","Data Scientist တစ်ယောက်ဖြစ်ချင်သောကြောင့်, မိမ...",Yes,Female,09953153181/ 09953153101,Shweyeetint@gmail.com,Yangon,Data Analyst အဖြစ်မလုပ်ကိုင်ဖူးဘဲ Data scienti...,yes

In [3]:
df.columns

Index(['Timestamp', 'တက်ရောက်မည့်သူ အမည် ', 'Occupation  (အလုပ်အကိုင်)',
       'Qualification Field  (ပညာအရည်အချင်း)',
       'Free Knowledge Sharing Session for Data Science သို့တက်ရောက်ရသည့် အကြောင်းရင်း ',
       'Data Science  နှင့် ပတ်သက်သော Training Programme အား တက်ရောက်ရန် စိတ်ဝင်ပါသလား။',
       'Gender', 'Contact Number(ဆက်သွယ်ရမည့် ဖုန်းနံပါတ်)',
       'Contact Email (ဆက်သွယ်ရမည့် အီးမေးလ်လိပ်စာ)', 'Address (နေရပ်လိပ်စာ)',
       ' Applications of Data Science  နှင့် Job Opportunities of a Data Scientist အကြောင်းအရာနဲ့ပတ်သတ်လို့ မိမိသိလိုသည့် အကြောင်းအရာကို လွတ်လပ်စွာ မေးမြန်းနိုင်ပါသည်။ ',
       'CodeChamps Coding School မှ ဖွင့်လှစ်သော သင်တန်းများအကြောင်း နှင့် ပတ်သက်သော information များ နှင့် newsletter တို့အား ရယူလိုပါသလား။'],
      dtype='object')

In [19]:
df.columns = ['ts', 'name', 'occupation', 'education', 'reason', \
    'interest_for_training', 'gender', 'phone_number', \
    'email', 'address', 'question', 'opt_in']
df.head(n=2)

,ts,name,occupation,education,reason,interest_for_training,gender,phone_number,email,address,question,opt_in
0,2022-09-25 18:52:36.497,Kyaw Ko Ko Nyein,Data Assistant,BA (Political Science),"Data Scientist တစ်ယောက်ဖြစ်ချင်သောကြောင့်, မိမ...",Yes,Male,"09422525552, 09254399676",kyawko2nyein@gmail.com,Pakokku,"Data mining, big data နဲ့ deep learning အကြောင...",no
1,2022-09-25 19:15:24.273,Shwe yee,Automation engineer,"G.Dip.S.A(NUS, SG)","Data Scientist တစ်ယောက်ဖြစ်ချင်သောကြောင့်, မိမ...",Yes,Female,09953153181/ 09953153101,Shweyeetint@gmail.com,Yangon,Data Analyst အဖြစ်မလုပ်ကိုင်ဖူးဘဲ Data scienti...,yes

In [20]:
from sklearn import preprocessing as pp
mlb = pp.MultiLabelBinarizer()
df["reasons"] = df.apply(lambda x : [item.strip() for item in x.reason.split(",")], axis=1)
df_ = mlb.fit_transform(df['reasons'])
mlb.classes_

array(['Data Science  ဆိုတာ ဘာလဲ သိချင်သောကြောင့်',
       'Data Science နှင့်ပတ်သက်သော အသိပညာတိုးပွားလိုသောကြောင့်',
       'Data Scientist တစ်ယောက်ဖြစ်ချင်သောကြောင့်',
       'Data Scientist တစ်ယောက်ဖြစ်နေခြင်းကြောင့်',
       'မိမိ လုပ်ငန်းခွင်တွင် ပြန်လည်အသုံးချနိုင်ရန်အတွက်'], dtype=object)

In [21]:
df_ = pd.DataFrame(df_, columns=["reason__{}".format(x) for x in [
    "know_what_data_science_is", "increase_knowledge_on_data_science", 
    "want_to_be_a_data_scientist", "i_am_a_data_science", 
    "to_use_in_workplace"
]])
print (df_.head(n=2))
df = pd.concat([df, df_], axis=1)
df.head(n=2)

   reason__know_what_data_science_is  \
0                                  0
1                                  0

   reason__increase_knowledge_on_data_science  \
0                                           1
1                                           1

   reason__want_to_be_a_data_scientist  reason__i_am_a_data_science  \
0                                    1                            0
1                                    1                            0

   reason__to_use_in_workplace
0                            1
1                            1

,ts,name,occupation,education,reason,interest_for_training,gender,phone_number,email,address,question,opt_in,reasons,reason__know_what_data_science_is,reason__increase_knowledge_on_data_science,reason__want_to_be_a_data_scientist,reason__i_am_a_data_science,reason__to_use_in_workplace
0,2022-09-25 18:52:36.497,Kyaw Ko Ko Nyein,Data Assistant,BA (Political Science),"Data Scientist တစ်ယောက်ဖြစ်ချင်သောကြောင့်, မိမ...",Yes,Male,"09422525552, 09254399676",kyawko2nyein@gmail.com,Pakokku,"Data mining, big data နဲ့ deep learning အကြောင...",no,"[Data Scientist တစ်ယောက်ဖြစ်ချင်သောကြောင့်, မိ...",0,1,1,0,1
1,2022-09-25 19:15:24.273,Shwe yee,Automation engineer,"G.Dip.S.A(NUS, SG)","Data Scientist တစ်ယောက်ဖြစ်ချင်သောကြောင့်, မိမ...",Yes,Female,09953153181/ 09953153101,Shweyeetint@gmail.com,Yangon,Data Analyst အဖြစ်မလုပ်ကိုင်ဖူးဘဲ Data scienti...,yes,"[Data Scientist တစ်ယောက်ဖြစ်ချင်သောကြောင့်, မိ...",0,1,1,0,1

In [22]:
df["education"] = df.apply(lambda x : str(x.education).strip().upper(), axis=1)
df.groupby("education")["ts"].count()

education
2BE EP                                         1
ACCOUNTING                                     1
B PHARM                                        1
B.C.SC                                         8
B.ECON (STATS)                                 1
B.ED                                           1
B.ED; M.ED                                     1
B.SC ( PHY)                                    1
B.SC (PHYSICS)                                 1
B.SC(ZOOLOGY)                                  1
BA (POLITICAL SCIENCE)                         1
BDEVS                                          1
BE METALLURGY                                  1
BE(IT)                                         1
COMPUTER SCIENCE                               1
COMPUTER STUDIES                               1
DIPLOMA IN COMPUTER STUDIES                    1
ELECTRONIC COMMUNICATION FINAL YEAR STUDENT    1
FINANCE GRADUATE                               1
FIRST YEAR DIPLOMA IN COMPUTING, NCC           1
G.DIP.S.A(NUS, SG)                             1
M.B.,B.S                                       1
M.C.SC                                         3
M.ED                                           1
M.SC(BOTANY)                                   1
MBBS                                           1
MCSC                                           1
MCSC UCSY                                      1
MSC                                            1
NAN                                            1
PH.D (IT)                                      1
PHD IN ENVIRONMENTAL SCIENCE                   1
PHYSICS                                        1
PRE IG                                         1
SECOND YEAR                                    1
SECOND YEAR STATISTICS FROM YUECO              1
UNDERGRADUATE                                  1
ဘွဲ့ရ                                          1
Name: ts, dtype: int64

In [8]:
df.shape

(47, 18)

In [12]:
selected_columns = [x for x in df.columns if x.startswith("reason__")]
df[selected_columns].sum()

reason__know_what_data_science_is             22
reason__increase_knowledge_on_data_science    26
reason__want_to_be_a_data_scientist           17
reason__i_am_a_data_science                    2
reason__to_use_in_workplace                   23
dtype: int64

In [16]:
df.groupby('gender').count()

,ts,name,occupation,education,reason,interest_for_training,phone_number,email,address,question,opt_in,reasons,reason__know_what_data_science_is,reason__increase_knowledge_on_data_science,reason__want_to_be_a_data_scientist,reason__i_am_a_data_science,reason__to_use_in_workplace
gender,,,,,,,,,,,,,,,,,
Female,34,34,32,34,34,34,34,34,34,34,34,34,34,34,34,34,34
Male,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13

In [23]:
df["occupation"] = df.apply(lambda x : str(x.occupation).strip().upper(), axis=1)
df.groupby("occupation")["ts"].count()

occupation
-                                                1
ADMIN                                            1
ADMIN MANAGER                                    1
AUTOMATION ENGINEER                              1
BUSINESS DEVELOPMENT MANAGER                     1
COMPUTER SCIENCE STUDENT                         1
DATA ASSISTANT                                   1
DOCTOR                                           1
ENGINEER                                         1
FASHION DES                                      1
HOUSEWIFE                                        2
IT LECTURER                                      1
IT SPECIALIST                                    1
JUNIOR WEB DEVELOPER                             1
LECTURER                                         1
MANAGER                                          1
MARKETING                                        2
MERCHANT                                         1
MOTHER OF 2 KIDS                                 1
NAN                                              2
NO                                               1
NOTHING                                          2
OWN BUSINESS                                     1
PHARMACIST                                       1
SCHOOL PRINCIPAL                                 1
SELF STUDY                                       1
SITE MANAGER                                     1
SR BUSINESS ANALYST                              1
STAFF OFFICER                                    1
STUDENT                                          5
STUDENT (CURRENTLY TAKING A BREAK FROM STUDY)    1
STUDENTS                                         1
TEACHER                                          5
ကျောင်းဆရာမ                                      1
မရှိပါ                                           1
Name: ts, dtype: int64