# Welcome from Week 09

ဒီတပါတ်မှာ ကျနော်တို့ Data Science နဲ့ Machine Learning မှာ အထူးအရေးပါတဲ့ Library တခုဖြစ်တဲ့ `pandas` library အကြောင်းကို လေ့လာကြမှာ ဖြစ်ပါတယ်။

In [1]:
import pandas as pd

df_country = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/WorldDBTables/CountryTable.csv")
df_country.head()

,code,name,continent,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
0,ABW,Aruba,North America,Caribbean,193.0,NuLL,103000,78.4,828.0,793,Aruba,Nonmetropolitan Territory of The Netherlands,Willem-Alexander,129,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919,22720000,45.9,5976.0,NuLL,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975,12878000,38.3,6648.0,7984,Angola,Republic,Jose Eduardo dos Santos,56,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NuLL,8000,76.1,63.2,NuLL,Anguilla,Dependent Territory of the uK,Elisabeth II,62,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912,3401200,71.6,3205.0,2500,Shqiperia,Republic,Rexhep Mejdani,34,AL

# Data Frame and Data Series

![](https://i.ibb.co/Mfm14sZ/python-sci-com-landscape-drawio.png)

အရင်အပါတ်တွေက ပြောခဲ့သလိုပဲ python language + built-ins တွေအပေါ်မှာ `numpy` ကို အခြေခံထားတဲ့ `scipy` နဲ့ `pandas`၊ visualization အတွက် `matplotlib` တို့ကြောင့် python ecosystem ဟာ matlab တို့လိုပဲ scientific computing အတွက် သုံးလို့ကောင်းတဲ့ ecosystem တခု ဖြစ်လာရတယ်။ 

`pandas` မှာ `DataFrame` နဲ့ Data `Series` ဆိုတဲ့ class နှစ်ခုပါတယ်။ `Series` ကို ကော်လံတခုလို့ အလွယ်ပြောလို့ရပြီး `DataFrame` ကိုတော့ ဇယားကွက်လို့ အလွယ်ပြောလို့ ရတယ်။ 

`numpy` က 2d array ကို အခြေခံတာမို့လို့ `pandas` `DataFrame` မှာ `describe` ဆိုတဲ့ function ပါတယ်။

In [2]:
df_country.describe()

       surface_area    population           gnp
count  2.390000e+02  2.390000e+02  2.390000e+02
mean   6.232481e+05  2.543410e+07  1.228239e+05
std    1.924140e+06  1.093398e+08  6.379976e+05
min    4.000000e-01  0.000000e+00  0.000000e+00
25%    2.275000e+03  2.380000e+05  6.400000e+02
50%    7.174000e+04  3.869000e+06  4.787000e+03
75%    3.987545e+05  1.493550e+07  2.994450e+04
max    1.707540e+07  1.277558e+09  8.510700e+06

In [3]:
df_titanic = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df_titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

## အားလုံးနဲ့ အလုပ်လုပ်တဲ့ `pandas`

### Jupyter Notebook နဲ့ အတူ လက်တွဲအလုပ်လုပ်ခြင်း

အပေါ်က ဥပမာတွေမှာ ဘာသတိထားမိသလဲ။

> `pandas` object တွေဟာ `matplotlib` graph တွေလိုပဲ jupyter notebook နဲ့ လက်တွဲအလုပ်လုပ်ကြတယ်။ ဒါကြောင့် `print` လို့ explicitly မပြောရင် လှလှပပ ဇယားကွက်အနေနဲ့ ပေါ်လာကြတယ်။

In [5]:
# Series တခုကို DataFrame ထဲက ထုတ်ယူမယ်။
df_titanic.Survived

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [6]:
type(df_titanic.Survived)

pandas.core.series.Series

In [7]:
type(df_titanic)

pandas.core.frame.DataFrame

### format တွေအများကြီး ဖတ်နိုင်/ရေးနိုင်ခြင်း

`pandas` `DataFrame` အဖြစ် ဖတ်နိုင်/ရေးနိုင်တဲ့ format တွေက အများကြီးပါပဲ။ အဲဒီထဲမှာ ထင်ရှားတာတွေကတော့ ...

* Databases (`read_sql`/`to_sql`)
* json (`read_json`/`to_json`)
* xml (`read_xml`/`to_xml`)
* Excel (`read_excel`/`to_excel`) နဲ့
* parquet (`read_parquet`/`to_parquet`) တို့ပဲ ဖြစ်ကြတယ်။

In [8]:
df_titanic.to_json("titanic.json")

import json
from pprint import pprint

with open("titanic.json", "rt") as f:
    json_str = json.load(f)
    pprint(json_str)

{'Age': {'0': 22.0,
         '1': 38.0,
         '10': 4.0,
         '100': 28.0,
         '101': None,
         '102': 21.0,
         '103': 33.0,
         '104': 37.0,
         '105': 28.0,
         '106': 21.0,
         '107': None,
         '108': 38.0,
         '109': None,
         '11': 58.0,
         '110': 47.0,
         '111': 14.5,
         '112': 22.0,
         '113': 20.0,
         '114': 17.0,
         '115': 21.0,
         '116': 70.5,
         '117': 29.0,
         '118': 24.0,
         '119': 2.0,
         '12': 20.0,
         '120': 21.0,
         '121': None,
         '122': 32.5,
         '123': 32.5,
         '124': 54.0,
         '125': 12.0,
         '126': None,
         '127': 24.0,
         '128': None,
         '129': 45.0,
         '13': 39.0,
         '130': 33.0,
         '131': 20.0,
         '132': 47.0,
         '133': 29.0,
         '134': 25.0,
         '135': 23.0,
         '136': 19.0,
         '137': 37.0,
         '138': 16.0,
         '139': 24.0,
         '14': 14.0,
         '140': None,
         '141': 22.0,
         '142': 24.0,
         '143': 19.0,
         '144': 18.0,
         '145': 19.0,
         '146': 27.0,
         '147': 9.0,
         '148': 36.5,
         '149': 42.0,
         '15': 55.0,
         '150': 51.0,
         '151': 22.0,
         '152': 55.5,
         '153': 40.5,
         '154': None,
         '155': 51.0,
         '156': 16.0,
         '157': 30.0,
         '158': None,
         '159': None,
         '16': 2.0,
         '160': 44.0,
         '161': 40.0,
         '162': 26.0,
         '163': 17.0,
         '164': 1.0,
         '165': 9.0,
         '166': None,
         '167': 45.0,
         '168': None,
         '169': 28.0,
         '17': None,
         '170': 61.0,
         '171': 4.0,
         '172': 1.0,
         '173': 21.0,
         '174': 56.0,
         '175': 18.0,
         '176': None,
         '177': 50.0,
         '178': 30.0,
         '179': 36.0,
         '18': 31.0,
         '180': None,
         '181': None,
         '182': 9.0,
         '183': 1.0,
         '184': 4.0,
         '185': None,
         '186': None,
         '187': 45.0,
         '188': 40.0,
         '189': 36.0,
         '19': None,
         '190': 32.0,
         '191': 19.0,
         '192': 19.0,
         '193': 3.0,
         '194': 44.0,
         '195': 58.0,
         '196': None,
         '197': 42.0,
         '198': None,
         '199': 24.0,
         '2': 26.0,
         '20': 35.0,
         '200': 28.0,
         '201': None,
         '202': 34.0,
         '203': 45.5,
         '204': 18.0,
         '205': 2.0,
         '206': 32.0,
         '207': 26.0,
         '208': 16.0,
         '209': 40.0,
         '21': 34.0,
         '210': 24.0,
         '211': 35.0,
         '212': 22.0,
         '213': 30.0,
         '214': None,
         '215': 31.0,
         '216': 27.0,
         '217': 42.0,
         '218': 32.0,
         '219': 30.0,
         '22': 15.0,
         '220': 16.0,
         '221': 27.0,
         '222': 51.0,
         '223': None,
         '224': 38.0,
         '225': 22.0,
         '226': 19.0,
         '227': 20.5,
         '228': 18.0,
         '229': None,
         '23': 28.0,
         '230': 35.0,
         '231': 29.0,
         '232': 59.0,
         '233': 5.0,
         '234': 24.0,
         '235': None,
         '236': 44.0,
         '237': 8.0,
         '238': 19.0,
         '239': 33.0,
         '24': 8.0,
         '240': None,
         '241': None,
         '242': 29.0,
         '243': 22.0,
         '244': 30.0,
         '245': 44.0,
         '246': 25.0,
         '247': 24.0,
         '248': 37.0,
         '249': 54.0,
         '25': 38.0,
         '250': None,
         '251': 29.0,
         '252': 62.0,
         '253': 30.0,
         '254': 41.0,
         '255': 29.0,
         '256': None,
         '257': 30.0,
         '258': 35.0,
         '259': 50.0,
         '26': None,
         '260': None,
         '261': 3.0,
         '262': 52.0,
         '263': 40.0,
         '264': None,
         '265': 36.0,
         '266': 16.0,
         '267': 25.0,
         '268': 58.0,
         '269': 35.0,
         '27': 19.0,
         '270': None,
         '271': 25.0,
         '272': 41.0,
         '273': 37.0,
         '274': None,
         '275': 63.0,
         '276': 45.0,
         '277': None,
         '278': 7.0,
         '279': 35.0,
         '28': None,
         '280': 65.0,
         '281': 28.0,
         '282': 16.0,
         '283': 19.0,
         '284': None,
         '285': 33.0,
         '286': 30.0,
         '287': 22.0,
         '288': 42.0,
         '289': 22.0,
         '29': None,
         '290': 26.0,
         '291': 19.0,
         '292': 36.0,
         '293': 24.0,
         '294': 24.0,
         '295': None,
         '296': 23.5,
         '297': 2.0,
         '298': None,
         '299': 50.0,
         '3': 35.0,
         '30': 40.0,
         '300': None,
         '301': None,
         '302': 19.0,
         '303': None,
         '304': None,
         '305': 0.92,
         '306': None,
         '307': 17.0,
         '308': 30.0,
         '309': 30.0,
         '31': None,
         '310': 24.0,
         '311': 18.0,
         '312': 26.0,
         '313': 28.0,
         '314': 43.0,
         '315': 26.0,
         '316': 24.0,
         '317': 54.0,
         '318': 31.0,
         '319': 40.0,
         '32': None,
         '320': 22.0,
         '321': 27.0,
         '322': 30.0,
         '323': 22.0,
         '324': None,
         '325': 36.0,
         '326': 61.0,
         '327': 36.0,
         '328': 31.0,
         '329': 16.0,
         '33': 66.0,
         '330': None,
         '331': 45.5,
         '332': 38.0,
         '333': 16.0,
         '334': None,
         '335': None,
         '336': 29.0,
         '337': 41.0,
         '338': 45.0,
         '339': 45.0,
         '34': 28.0,
         '340': 2.0,
         '341': 24.0,
         '342': 28.0,
         '343': 25.0,
         '344': 36.0,
         '345': 24.0,
         '346': 40.0,
         '347': None,
         '348': 3.0,
         '349': 42.0,
         '35': 42.0,
         '350': 23.0,
         '351': None,
         '352': 15.0,
         '353': 25.0,
         '354': None,
         '355': 28.0,
         '356': 22.0,
         '357': 38.0,
         '358': None,
         '359': None,
         '36': None,
         '360': 40.0,
         '361': 29.0,
         '362': 45.0,
         '363': 35.0,
         '364': None,
         '365': 30.0,
         '366': 60.0,
         '367': None,
         '368': None,
         '369': 24.0,
         '37': 21.0,
         '370': 25.0,
         '371': 18.0,
         '372': 19.0,
         '373': 22.0,
         '374': 3.0,
         '375': None,
         '376': 22.0,
         '377': 27.0,
         '378': 20.0,
         '379': 19.0,
         '38': 18.0,
         '380': 42.0,
         '381': 1.0,
         '382': 32.0,
         '383': 35.0,
         '384': None,
         '385': 18.0,
         '386': 1.0,
         '387': 36.0,
         '388': None,
         '389': 17.0,
         '39': 14.0,
         '390': 36.0,
         '391': 21.0,
         '392': 28.0,
         '393': 23.0,
         '394': 24.0,
         '395': 22.0,
         '396': 31.0,
         '397': 46.0,
         '398': 23.0,
         '399': 28.0,
         '4': 35.0,
         '40': 40.0,
         '400': 39.0,
         '401': 26.0,
         '402': 21.0,
         '403': 28.0,
         '404': 20.0,
         '405': 34.0,
         '406': 51.0,
         '407': 3.0,
         '408': 21.0,
         '409': None,
         '41': 27.0,
         '410': None,
         '411': None,
         '412': 33.0,
         '413': None,
         '414': 44.0,
         '415': None,
         '416': 34.0,
         '417': 18.0,
         '418': 30.0,
         '419': 10.0,
         '42': None,
         '420': None,
         '421': 21.0,
         '422': 29.0,
         '423': 28.0,
         '424': 18.0,
         '425': None,
         '426': 28.0,
         '427': 19.0,
         '428': None,
         '429': 32.0,
         '43': 3.0,
         '430': 28.0,
         '431': None,
         '432': 42.0,
         '433': 17.0,
         '434': 50.0,
         '435': 14.0,
         '436': 21.0,
         '437': 24.0,
         '438': 64.0,
         '439': 31.0,
         '44': 19.0,
         '440': 45.0,
         '441': 20.0,
         '442': 25.0,
         '443': 28.0,
         '444': None,
         '445': 4.0,
         '446': 13.0,
         '447': 34.0,
         '448': 5.0,
         '449': 52.0,
         '45': None,
         '450': 36.0,
         '451': None,
         '452': 30.0,
         '453': 49.0,
         '454': None,
         '455': 29.0,
         '456': 65.0,
         '457': None,
         '458': 50.0,
         '459': None,
         '46': None,
         '460': 48.0,
         '461': 34.0,
         '462': 47.0,
         '463': 48.0,
         '464': None,
         '465': 38.0,
         '466': None,
         '467': 56.0,
         '468': None,
         '469': 0.75,
         '47': None,
         '470': None,
         '471': 38.0,
         '472': 33.0,
         '473': 23.0,
         '474': 22.0,
         '475': None,
         '476': 34.0,
         '477': 29.0,
         '478': 22.0,
         '479': 2.0,
         '48': None,
         '480': 9.0,
         '481': None,
         '482': 50.0,
         '483': 63.0,
         '484': 25.0,
         '485': None,
         '486': 35.0,
         '487': 58.0,
         '488': 30.0,
         '489': 9.0,
         '49': 18.0,
         '490': None,
         '491': 21.0,
         '492': 55.0,
         '493': 71.0,
         '494': 21.0,
         '495': None,
         '496': 54.0,
         '497': None,
         '498': 25.0,
         '499': 24.0,
         '5': None,
         '50': 7.0,
         '500': 17.0,
         '501': 21.0,
         '502': None,
         '503': 37.0,
         '504': 16.0,
         '505': 18.0,
         '506': 33.0,
         '507': None,
         '508': 28.0,
         '509': 26.0,
         '51': 21.0,
         '510': 29.0,
         '511': None,
         '512': 36.0,
         '513': 54.0,
         '514': 24.0,
         '515': 47.0,
         '516': 34.0,
         '517': None,
         '518': 36.0,
         '519': 32.0,
         '52': 49.0,
         '520': 30.0,
         '521': 22.0,
         '522': None,
         '523': 44.0,
         '524': None,
         '525': 40.5,
         '526': 50.0,
         '527': None,
         '528': 39.0,
         '529': 23.0,
         '53': 29.0,
         '530': 2.0,
         '531': None,
         '532': 17.0,
         '533': None,
         '534': 30.0,
         '535': 7.0,
         '536': 45.0,
         '537': 30.0,
         '538': None,
         '539': 22.0,
         '54': 65.0,
         '540': 36.0,
         '541': 9.0,
         '542': 11.0,
         '543': 32.0,
         '544': 50.0,
         '545': 64.0,
         '546': 19.0,
         '547': None,
         '548': 33.0,
         '549': 8.0,
         '55': None,
         '550': 17.0,
         '551': 27.0,
         '552': None,
         '553': 22.0,
         '554': 22.0,
         '555': 62.0,
         '556': 48.0,
         '557': None,
         '558': 39.0,
         '559': 36.0,
         '56': 21.0,
         '560': None,
         '561': 40.0,
         '562': 28.0,
         '563': None,
         '564': None,
         '565': 24.0,
         '566': 19.0,
         '567': 29.0,
         '568': None,
         '569': 32.0,
         '57': 28.5,
         '570': 62.0,
         '571': 53.0,
         '572': 36.0,
         '573': None,
         '574': 16.0,
         '575': 19.0,
         '576': 34.0,
         '577': 39.0,
         '578': None,
         '579': 32.0,
         '58': 5.0,
         '580': 25.0,
         '581': 39.0,
         '582': 54.0,
         '583': 36.0,
         '584': None,
         '585': 18.0,
         '586': 47.0,
         '587': 60.0,
         '588': 22.0,
         '589': None,
         '59': 11.0,
         '590': 35.0,
         '591': 52.0,
         '592': 47.0,
         '593': None,
         '594': 37.0,
         '595': 36.0,
         '596': None,
         '597': 49.0,
         '598': None,
         '599': 49.0,
         '6': 54.0,
         '60': 22.0,
         '600': 24.0,
         '601': None,
         '602': None,
         '603': 44.0,
         '604': 35.0,
         '605': 36.0,
         '606': 30.0,
         '607': 27.0,
         '608': 22.0,
         '609': 40.0,
         '61': 38.0,
         '610': 39.0,
         '611': None,
         '612': None,
         '613': None,
         '614': 35.0,
         '615': 24.0,
         '616': 34.0,
         '617': 26.0,
         '618': 4.0,
         '619': 26.0,
         '62': 45.0,
         '620': 27.0,
         '621': 42.0,
         '622': 20.0,
         '623': 21.0,
         '624': 21.0,
         '625': 61.0,
         '626': 57.0,
         '627': 21.0,
         '628': 26.0,
         '629': None,
         '63': 4.0,
         '630': 80.0,
         '631': 51.0,
         '632': 32.0,
         '633': None,
         '634': 9.0,
         '635': 28.0,
         '636': 32.0,
         '637': 31.0,
         '638': 41.0,
         '639': None,
         '64': None,
         '640': 20.0,
         '641': 24.0,
         '642': 2.0,
         '643': None,
         '644': 0.75,
         '645': 48.0,
         '646': 19.0,
         '647': 56.0,
         '648': None,
         '649': 23.0,
         '65': None,
         '650': None,
         '651': 18.0,
         '652': 21.0,
         '653': None,
         '654': 18.0,
         '655': 24.0,
         '656': None,
         '657': 32.0,
         '658': 23.0,
         '659': 58.0,
         '66': 29.0,
         '660': 50.0,
         '661': 40.0,
         '662': 47.0,
         '663': 36.0,
         '664': 20.0,
         '665': 32.0,
         '666': 25.0,
         '667': None,
         '668': 43.0,
         '669': None,
         '67': 19.0,
         '670': 40.0,
         '671': 31.0,
         '672': 70.0,
         '673': 31.0,
         '674': None,
         '675': 18.0,
         '676': 24.5,
         '677': 18.0,
         '678': 43.0,
         '679': 36.0,
         '68': 17.0,
         '680': None,
         '681': 27.0,
         '682': 20.0,
         '683': 14.0,
         '684': 60.0,
         '685': 25.0,
         '686': 14.0,
         '687': 19.0,
         '688': 18.0,
         '689': 15.0,
         '69': 26.0,
         '690': 31.0,
         '691': 4.0,
         '692': None,
         '693': 25.0,
         '694': 60.0,
         '695': 52.0,
         '696': 44.0,
         '697': None,
         '698': 49.0,
         '699': 42.0,
         '7': 2.0,
         '70': 32.0,
         '700': 18.0,
         '701': 35.0,
         '702': 18.0,
         '703': 25.0,
         '704': 26.0,
         '705': 39.0,
         '706': 45.0,
         '707': 42.0,
         '708': 22.0,
         '709': None,
         '71': 16.0,
         '710': 24.0,
         '711': None,
         '712': 48.0,
         '713': 29.0,
         '714': 52.0,
         '715': 19.0,
         '716': 38.0,
         '717': 27.0,
         '718': None,
         '719': 33.0,
         '72': 21.0,
         '720': 6.0,
         '721': 17.0,
         '722': 34.0,
         '723': 50.0,
         '724': 27.0,
         '725': 20.0,
         '726': 30.0,
         '727': None,
         '728': 25.0,
         '729': 25.0,
         '73': 26.0,
         '730': 29.0,
         '731': 11.0,
         '732': None,
         '733': 23.0,
         '734': 23.0,
         '735': 28.5,
         '736': 48.0,
         '737': 35.0,
         '738': None,
         '739': None,
         '74': 32.0,
         '740': None,
         '741': 36.0,
         '742': 21.0,
         '743': 24.0,
         '744': 31.0,
         '745': 70.0,
         '746': 16.0,
         '747': 30.0,
         '748': 19.0,
         '749': 31.0,
         '75': 25.0,
         '750': 4.0,
         '751': 6.0,
         '752': 33.0,
         '753': 23.0,
         '754': 48.0,
         '755': 0.67,
         '756': 28.0,
         '757': 18.0,
         '758': 34.0,
         '759': 33.0,
         '76': None,
         '760': None,
         '761': 41.0,
         '762': 20.0,
         '763': 36.0,
         '764': 16.0,
         '765': 51.0,
         '766': None,
         '767': 30.5,
         '768': None,
         '769': 32.0,
         '77': None,
         '770': 24.0,
         '771': 48.0,
         '772': 57.0,
         '773': None,
         '774': 54.0,
         '775': 18.0,
         '776': None,
         '777': 5.0,
         '778': None,
         '779': 43.0,
         '78': 0.83,
         '780': 13.0,
         '781': 17.0,
         '782': 29.0,
         '783': None,
         '784': 25.0,
         '785': 25.0,
         '786': 18.0,
         '787': 8.0,
         '788': 1.0,
         '789': 46.0,
         '79': 30.0,
         '790': None,
         '791': 16.0,
         '792': None,
         '793': None,
         '794': 25.0,
         '795': 39.0,
         '796': 49.0,
         '797': 31.0,
         '798': 30.0,
         '799': 30.0,
         '8': 27.0,
         '80': 22.0,
         '800': 34.0,
         '801': 31.0,
         '802': 11.0,
         '803': 0.42,
         '804': 27.0,
         '805': 31.0,
         '806': 39.0,
         '807': 18.0,
         '808': 39.0,
         '809': 33.0,
         '81': 29.0,
         '810': 26.0,
         '811': 39.0,
         '812': 35.0,
         '813': 6.0,
         '814': 30.5,
         '815': None,
         '816': 23.0,
         '817': 31.0,
         '818': 43.0,
         '819': 10.0,
         '82': None,
         '820': 52.0,
         '821': 27.0,
         '822': 38.0,
         '823': 27.0,
         '824': 2.0,
         '825': None,
         '826': None,
         '827': 1.0,
         '828': None,
         '829': 62.0,
         '83': 28.0,
         '830': 15.0,
         '831': 0.83,
         '832': None,
         '833': 23.0,
         '834': 18.0,
         '835': 39.0,
         '836': 21.0,
         '837': None,
         '838': 32.0,
         '839': None,
         '84': 17.0,
         '840': 20.0,
         '841': 16.0,
         '842': 30.0,
         '843': 34.5,
         '844': 17.0,
         '845': 42.0,
         '846': None,
         '847': 35.0,
         '848': 28.0,
         '849': None,
         '85': 33.0,
         '850': 4.0,
         '851': 74.0,
         '852': 9.0,
         '853': 16.0,
         '854': 44.0,
         '855': 18.0,
         '856': 45.0,
         '857': 51.0,
         '858': 24.0,
         '859': None,
         '86': 16.0,
         '860': 41.0,
         '861': 21.0,
         '862': 48.0,
         '863': None,
         '864': 24.0,
         '865': 42.0,
         '866': 27.0,
         '867': 31.0,
         '868': None,
         '869': 4.0,
         '87': None,
         '870': 26.0,
         '871': 47.0,
         '872': 33.0,
         '873': 47.0,
         '874': 28.0,
         '875': 15.0,
         '876': 20.0,
         '877': 19.0,
         '878': None,
         '879': 56.0,
         '88': 23.0,
         '880': 25.0,
         '881': 33.0,
         '882': 22.0,
         '883': 28.0,
         '884': 25.0,
         '885': 39.0,
         '886': 27.0,
         '887': 19.0,
         '888': None,
         '889': 26.0,
         '89': 24.0,
         '890': 32.0,
         '9': 14.0,
         '90': 29.0,
         '91': 20.0,
         '92': 46.0,
         '93': 26.0,
         '94': 59.0,
         '95': None,
         '96': 71.0,
         '97': 23.0,
         '98': 34.0,
         '99': 34.0},
 'Cabin': {'0': None,
           '1': 'C85',
           '10': 'G6',
           '100': None,
           '101': None,
           '102': 'D26',
           '103': None,
           '104': None,
           '105': None,
           '106': None,
           '107': None,
           '108': None,
           '109': None,
           '11': 'C103',
           '110': 'C110',
           '111': None,
           '112': None,
           '113': None,
           '114': None,
           '115': None,
           '116': None,
           '117': None,
           '118': 'B58 B60',

`read_sql` နဲ့ `to_sql` တို့ကို နောက်တချိန်ကျရင် ပြောပါမယ်။ အခုတော့ `to_json`, `to_xml`, `to_excel`, `to_parquet` နဲ့ `read_json`, `read_xml`, `read_excel`, `read_parquet`  တို့ကို စမ်းကြည့်ပါဦး။

In [9]:
# to test
df_titanic_fr_json = pd.read_json("titanic.json")
df_titanic_fr_json.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S

In [10]:
pd.__version__

'1.3.5'

pandas version က 1.3.0 အောက်ဆိုရင် `to_xml` function မပါဘူး။ ဒါကြောင့် အပေါ်က cell output က 1.3.0 ထက် ငယ်နေရင် pandas version အသစ်ကို install လုပ်ပါ။

In [ ]:
%pip install --upgrade pandas

In [11]:
df_titanic.to_xml("titanic.xml")
df_titanic_fr_xml = pd.read_xml("titanic.xml")
df_titanic_fr_xml.head()

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S

In [12]:
df_titanic.to_parquet("titanic.parquet")
df_titanic_fr_parquet = pd.read_parquet("titanic.parquet")
df_titanic_fr_parquet.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S

## Frequently Used properties and functions

`DataFrame` ရဲ့ `dtypes` ဟာ `Series` တခုပဲ ဖြစ်ပြီး data type တွေကို သိမ်းထားတယ်။

In [13]:
df_titanic.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [14]:
import numpy as np
df_titanic.select_dtypes(include=np.number, exclude=np.object0)

     PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0              1         0       3  22.0      1      0   7.2500
1              2         1       1  38.0      1      0  71.2833
2              3         1       3  26.0      0      0   7.9250
3              4         1       1  35.0      1      0  53.1000
4              5         0       3  35.0      0      0   8.0500
..           ...       ...     ...   ...    ...    ...      ...
886          887         0       2  27.0      0      0  13.0000
887          888         1       1  19.0      0      0  30.0000
888          889         0       3   NaN      1      2  23.4500
889          890         1       1  26.0      0      0  30.0000
890          891         0       3  32.0      0      0   7.7500

[891 rows x 7 columns]

row `index` တွေနဲ့ column name `columns` တွေကိုလဲ access လုပ်နိုင်တယ်။

In [15]:
df_titanic.index

RangeIndex(start=0, stop=891, step=1)

In [16]:
df_titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

`numpy` မှာလိုပဲ transpose လုပ်တာကို `T` ဆိုတဲ့ property ကနေ လုပ်ရတယ်။

In [17]:
df_titanic.T

,0,1,2,3,4,5,6,7,8,9,...,881,882,883,884,885,886,887,888,889,890
PassengerId,1,2,3,4,5,6,7,8,9,10,...,882,883,884,885,886,887,888,889,890,891
Survived,0,1,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,1,0,1,0
Pclass,3,1,3,1,3,3,1,3,3,2,...,3,3,2,3,3,2,1,3,1,3
Name,"Braund, Mr. Owen Harris","Cumings, Mrs. John Bradley (Florence Briggs Th...","Heikkinen, Miss. Laina","Futrelle, Mrs. Jacques Heath (Lily May Peel)","Allen, Mr. William Henry","Moran, Mr. James","McCarthy, Mr. Timothy J","Palsson, Master. Gosta Leonard","Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)","Nasser, Mrs. Nicholas (Adele Achem)",...,"Markun, Mr. Johann","Dahlberg, Miss. Gerda Ulrika","Banfield, Mr. Frederick James","Sutehall, Mr. Henry Jr","Rice, Mrs. William (Margaret Norton)","Montvila, Rev. Juozas","Graham, Miss. Margaret Edith","Johnston, Miss. Catherine Helen ""Carrie""","Behr, Mr. Karl Howell","Dooley, Mr. Patrick"
Sex,male,female,female,female,male,male,male,male,female,female,...,male,female,male,male,female,male,female,female,male,male
Age,22.0,38.0,26.0,35.0,35.0,NaN,54.0,2.0,27.0,14.0,...,33.0,22.0,28.0,25.0,39.0,27.0,19.0,NaN,26.0,32.0
SibSp,1,1,0,1,0,0,0,3,0,1,...,0,0,0,0,0,0,0,1,0,0
Parch,0,0,0,0,0,0,0,1,2,0,...,0,0,0,0,5,0,0,2,0,0
Ticket,A/5 21171,PC 17599,STON/O2. 3101282,113803,373450,330877,17463,349909,347742,237736,...,349257,7552,C.A./SOTON 34068,SOTON/OQ 392076,382652,211536,112053,W./C. 6607,111369,370376
Fare,7.25,71.2833,7.925,53.1,8.05,8.4583,51.8625,21.075,11.1333,30.0708,...,7.8958,10.5167,10.5,7.05,29.125,13.0,30.0,23.45,30.0,7.75
Cabin,NaN,C85,NaN,C123,NaN,NaN,E46,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,B42,NaN,C148,NaN
Embarked,S,C,S,S,S,Q,S,S,S,C,...,S,S,S,S,Q,S,S,S,C,Q

### `head` နဲ့ `tail`

အပေါ်ဆုံး row တွေနဲ့ အောက်ဆုံးက row တွေကို ကြည့်ဖို့ `head` နဲ့ `tail` function တွေကို သုံးနိုင်တယ်။

In [18]:
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [19]:
df_titanic.tail(n=10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

စီချင်တာတွေ စီဖို့ `sort_values` function ကို သုံးရတယ်။

`ascending` argument ရဲ့ default value က `True` ဖြစ်တယ်။

`inplace` argument ရဲ့ default value က `False` ဖြစ်ပြီး စီထားတဲ့ `DataFrame` **အသစ်** ကို return တယ်။ `inplace` ကို `True` လို့ပေးရင် `DataFrame` ကိုပဲ sort လုပ်သွားပြီး `None` return ပြန်ပေးတယ်။

In [20]:
df_titanic.sort_values(by="Pclass")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
445,446,1,1,"Dodge, Master. Washington",male,4.0,0,2,33638,81.8583,A34,S
310,311,1,1,"Hays, Miss. Margaret Bechstein",female,24.0,0,0,11767,83.1583,C54,C
309,310,1,1,"Francatelli, Miss. Laura Mabel",female,30.0,0,0,PC 17485,56.9292,E36,C
307,308,1,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.0,1,0,PC 17758,108.9000,C65,C
306,307,1,1,"Fleming, Miss. Margaret",female,NaN,0,0,17421,110.8833,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
379,380,0,3,"Gustafsson, Mr. Karl Gideon",male,19.0,0,0,347069,7.7750,NaN,S
381,382,1,3,"Nakid, Miss. Maria (""Mary"")",female,1.0,0,2,2653,15.7417,NaN,C
382,383,0,3,"Tikkanen, Mr. Juho",male,32.0,0,0,STON/O 2. 3101293,7.9250,NaN,S
371,372,0,3,"Wiklund, Mr. Jakob Alfred",male,18.0,1,0,3101267,6.4958,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [21]:
df_titanic.sort_values(by="Pclass", ascending=False)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
511,512,0,3,"Webber, Mr. James",male,NaN,0,0,SOTON/OQ 3101316,8.0500,NaN,S
500,501,0,3,"Calic, Mr. Petar",male,17.0,0,0,315086,8.6625,NaN,S
501,502,0,3,"Canavan, Miss. Mary",female,21.0,0,0,364846,7.7500,NaN,Q
502,503,0,3,"O'Sullivan, Miss. Bridget Mary",female,NaN,0,0,330909,7.6292,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
102,103,0,1,"White, Mr. Richard Frasar",male,21.0,0,1,35281,77.2875,D26,S
710,711,1,1,"Mayne, Mlle. Berthe Antonine (""Mrs de Villiers"")",female,24.0,0,0,PC 17482,49.5042,C90,C
711,712,0,1,"Klaber, Mr. Herman",male,NaN,0,0,113028,26.5500,C124,S
712,713,1,1,"Taylor, Mr. Elmer Zebley",male,48.0,1,0,19996,52.0000,C126,S
445,446,1,1,"Dodge, Master. Washington",male,4.0,0,2,33638,81.8583,A34,S

`to_numpy` ဆိုတဲ့ function က `numpy` array ကို ပြောင်းပေးတာ။ အလားတူပဲ `values` ဆိုတဲ့ property က underlying `numpy` array ကို ထုတ်ပေးတယ်။

In [22]:
df_titanic.to_numpy()

array([[1, 0, 3, ..., 7.25, nan, 'S'],
       [2, 1, 1, ..., 71.2833, 'C85', 'C'],
       [3, 1, 3, ..., 7.925, nan, 'S'],
       ...,
       [889, 0, 3, ..., 23.45, nan, 'S'],
       [890, 1, 1, ..., 30.0, 'C148', 'C'],
       [891, 0, 3, ..., 7.75, nan, 'Q']], dtype=object)

In [23]:
df_titanic.values

array([[1, 0, 3, ..., 7.25, nan, 'S'],
       [2, 1, 1, ..., 71.2833, 'C85', 'C'],
       [3, 1, 3, ..., 7.925, nan, 'S'],
       ...,
       [889, 0, 3, ..., 23.45, nan, 'S'],
       [890, 1, 1, ..., 30.0, 'C148', 'C'],
       [891, 0, 3, ..., 7.75, nan, 'Q']], dtype=object)

## Basic Access

### Column Access

Column တခုကို access လုပ်ဖို့ `.` နောက်မှာ column name သော်လည်းကောင်း၊ ဒါမှမဟုတ် square bracket အတွင်းမှာ `str` column name သော်လည်းကောင်း ထည့်ရေးရတယ်။

```python
survived_series = df_titanic.Survived
survived_series = df_titanic["Survived]
```

In [24]:
# to test
survived_series = df_titanic.Survived
survived_series[0:10]

0    0
1    1
2    1
3    1
4    0
5    0
6    0
7    0
8    1
9    1
Name: Survived, dtype: int64

In [26]:
pclass_series = df_titanic["Pclass"]
pclass_series[0:10]

0    3
1    1
2    3
3    1
4    3
5    3
6    1
7    3
8    3
9    2
Name: Pclass, dtype: int64

`DataFrame` မှာ column အသစ်ထပ်တိုးလို့လဲ ရတယ်။ list-like object တခု ဒါမှမဟုတ် scalar value တခုကို assign လုပ်ပေးရုံပဲ။

In [27]:
df_titanic["new_scalar_column"] = 0 # this will get extended as per numpy's broadcasting rules
df_titanic["new_vector_column"] = np.random.random(size=len(df_titanic))
df_titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_scalar_column,new_vector_column
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0.117934
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,0.889691
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0.729441
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,0.968372
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0.784647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0,0.940520
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0,0.765332
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0,0.549339
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,0.833098
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0,0.906076

column တွေအများကြီးပါတဲ့ sub `DataFrame` တခုကို ထုတ်ချင်ရင် column name တွေပါတဲ့ `list` တခုနဲ့ ထုတ်နိုင်တယ်။

ဥပမာ 

```python
df_sub = df_titanic[["PassengerId", "Name"]]
```

In [28]:
df_sub = df_titanic[["PassengerId", "Name"]]
df_sub

     PassengerId                                               Name
0              1                            Braund, Mr. Owen Harris
1              2  Cumings, Mrs. John Bradley (Florence Briggs Th...
2              3                             Heikkinen, Miss. Laina
3              4       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4              5                           Allen, Mr. William Henry
..           ...                                                ...
886          887                              Montvila, Rev. Juozas
887          888                       Graham, Miss. Margaret Edith
888          889           Johnston, Miss. Catherine Helen "Carrie"
889          890                              Behr, Mr. Karl Howell
890          891                                Dooley, Mr. Patrick

[891 rows x 2 columns]

In [29]:
# write a function, when given a name "Last Name, Honorific. First Name", return Last Name, Honorific and First Name
def divide_name(name):
    # write code here to divide name to last_name, honorific and first_name
    # first divide it into last_name and honorific
    ln_n_rest = name.split(",")
    last_name = ln_n_rest[0].strip()
    # re-join all others (if any)
    rest = " ".join([x.strip() for x in ln_n_rest[1:]])
    # then split using the dot
    h_n_fn = rest.split(".")
    honorific = h_n_fn[0].strip()
    first_name = " ".join([x.strip() for x in h_n_fn[1:]])
    return last_name, honorific, first_name

print (divide_name("Graham, Miss. Margaret Edith"))
print (divide_name('Johnston, Miss. Catherine Helen "Carrie"'))

('Graham', 'Miss', 'Margaret Edith')
('Johnston', 'Miss', 'Catherine Helen "Carrie"')

### အထူး function `apply`

အရင်တွေ့ခဲ့ဖူးတဲ့ `map` function လိုပဲ `apply` function ရှိတယ်။ သူ့အလုပ်လုပ်ပုံက default `axis=0` မှာ column by column, `axis=1` ဆိုရင် row by row အလုပ်လုပ်တယ်။

In [30]:
df_titanic[["last_name", "honorific", "first_name"]] = df_titanic.apply(lambda x : divide_name(x.Name), axis=1, result_type="expand")
df_titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_scalar_column,new_vector_column,last_name,honorific,first_name
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0.117934,Braund,Mr,Owen Harris
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,0.889691,Cumings,Mrs,John Bradley (Florence Briggs Thayer)
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0.729441,Heikkinen,Miss,Laina
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,0.968372,Futrelle,Mrs,Jacques Heath (Lily May Peel)
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0.784647,Allen,Mr,William Henry
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0,0.940520,Montvila,Rev,Juozas
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0,0.765332,Graham,Miss,Margaret Edith
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0,0.549339,Johnston,Miss,"Catherine Helen ""Carrie"""
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,0.833098,Behr,Mr,Karl Howell
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0,0.906076,Dooley,Mr,Patrick

In [33]:
# write code to add a column "embarked_full" based on value of "embarked" column
# C = Cherbourg, Q = Queenstown, S = Southampton
short_to_full_name = {
    "C" : "Cherbourg",
    "Q" : "Queenstown", 
    "S" : "Southampton"
}
def full_name(short_name):
    if short_name in short_to_full_name.keys():
        return short_to_full_name[short_name]
    else:
        return "not in dictionary"
df_titanic["embarked_full"] = df_titanic.apply(lambda x : full_name(x.Embarked), axis=1)
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_scalar_column,new_vector_column,last_name,honorific,first_name,embarked_full
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0.117934,Braund,Mr,Owen Harris,Southampton
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,0.889691,Cumings,Mrs,John Bradley (Florence Briggs Thayer),Cherbourg
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0.729441,Heikkinen,Miss,Laina,Southampton
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,0.968372,Futrelle,Mrs,Jacques Heath (Lily May Peel),Southampton
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0.784647,Allen,Mr,William Henry,Southampton

In [ ]:
# gotcha! this one can't be easily done in Python 3 compared to Java
# so this one has no short answer (you need to re-write the function even)
def by_embarked_sex_and_age(x_1, x_2):
    t_1 = (x_1.Embarked, 0 if x_1.Sex == "female" else 1, x_1.Age)
    t_2 = (x_2.Embarked, 0 if x_2.Sex == "female" else 1, x_2.Age)
    if t_1 < t_2:
        return -1
    elif t_1 == t_2:
        return 0
    else:
        return +1

# အပေါ်က function ကပေးတဲ့ value ပေါ်မူတည်ပြီး sort ပေးပါ။

### Row Access

Row တွေကို square bracket နဲ့ `numpy` ပုံစံ access လို့ရတယ်။

In [34]:
df_titanic[5:10]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_scalar_column,new_vector_column,last_name,honorific,first_name,embarked_full
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0,0.653433,Moran,Mr,James,Queenstown
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0,0.639418,McCarthy,Mr,Timothy J,Southampton
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,0,0.460248,Palsson,Master,Gosta Leonard,Southampton
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,0,0.355785,Johnson,Mrs,Oscar W (Elisabeth Vilhelmina Berg),Southampton
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,0,0.851257,Nasser,Mrs,Nicholas (Adele Achem),Cherbourg

### `loc` and `iloc`

> **Please avoid them as much as possible**

`loc` access is by labels (i.e. `index` and `columns`).

`iloc` is by pure integer index.

In [35]:
df_titanic.loc[5:10, ["Name", "Survived"]]

                                                 Name  Survived
5                                    Moran, Mr. James         0
6                             McCarthy, Mr. Timothy J         0
7                      Palsson, Master. Gosta Leonard         0
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)         1
9                 Nasser, Mrs. Nicholas (Adele Achem)         1
10                    Sandstrom, Miss. Marguerite Rut         1

In [36]:
df_titanic.iloc[0:5, 2:4]

   Pclass                                               Name
0       3                            Braund, Mr. Owen Harris
1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2       3                             Heikkinen, Miss. Laina
3       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4       3                           Allen, Mr. William Henry

In [47]:
# write code to obtain a DataFrame with PassengerId, honorific, Embarked, Cabin_First_Letter, Age, Sex and Fare
selected_cols = ["PassengerId", "honorific", "Embarked", "Age", "Sex", "Fare"]
df_sub = df_titanic[selected_cols]
# this will not include Cabin_First_Letter
df_sub.head()

   PassengerId honorific Embarked   Age     Sex     Fare
0            1        Mr        S  22.0    male   7.2500
1            2       Mrs        C  38.0  female  71.2833
2            3      Miss        S  26.0  female   7.9250
3            4       Mrs        S  35.0  female  53.1000
4            5        Mr        S  35.0    male   8.0500

In [48]:
# this code will throw an error. It is because some of the values in Cabin column is not str and can't be subscripted (indexed)
df_sub["Cabin_First_Letter"] = df_titanic.apply(lambda x : x.Cabin[0:1], axis=1)

TypeError: 'float' object is not subscriptable

In [50]:
# you will notice a warning printed (by defualt). 
# don't worry; this is how it works (and won't get fix either)
df_sub["Cabin_First_Letter"] = df_titanic.apply(lambda x : x.Cabin[0] if isinstance(x.Cabin, str) else "", axis=1)
df_sub

d:\anaconda3\envs\py37-dsup\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     PassengerId honorific Embarked   Age     Sex     Fare Cabin_First_Letter
0              1        Mr        S  22.0    male   7.2500
1              2       Mrs        C  38.0  female  71.2833                  C
2              3      Miss        S  26.0  female   7.9250
3              4       Mrs        S  35.0  female  53.1000                  C
4              5        Mr        S  35.0    male   8.0500
..           ...       ...      ...   ...     ...      ...                ...
886          887       Rev        S  27.0    male  13.0000
887          888      Miss        S  19.0  female  30.0000                  B
888          889      Miss        S   NaN  female  23.4500
889          890        Mr        C  26.0    male  30.0000                  C
890          891        Mr        Q  32.0    male   7.7500

[891 rows x 7 columns]

In [52]:
# based on the previous DataFrame, write code to obtain a DataFrame with 
# PassengerId, honorific_Mr, honorific_Ms, honorific_Mrs, honorific_Others with honorific_<x> having boolean values

# first, let's see what values honorific column has
df_titanic.honorific.unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Don', 'Rev', 'Dr', 'Mme', 'Ms',
       'Major', 'Lady', 'Sir', 'Mlle', 'Col', 'Capt', 'the Countess',
       'Jonkheer'], dtype=object)

In [54]:
df_sub["honorific_Mr"] = df_titanic.honorific == "Mr"
df_sub["honorific_Mrs"] = df_titanic.honorific == "Mrs"
df_sub["honorific_Ms"] = df_titanic.honorific == "Miss"
df_sub["honorific_Others"] = ~(df_titanic.honorific.isin(["Mr", "Mrs", "Miss"]))
df_sub

d:\anaconda3\envs\py37-dsup\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
d:\anaconda3\envs\py37-dsup\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

d:\anaconda3\envs\py37-dsup\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
d:\anaconda3\envs\py37-dsup\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,PassengerId,honorific,Embarked,Age,Sex,Fare,Cabin_First_Letter,honorific_Mr,honorific_Mrs,honorific_Ms,honorific_Others
0,1,Mr,S,22.0,male,7.2500,,True,False,False,False
1,2,Mrs,C,38.0,female,71.2833,C,False,True,False,False
2,3,Miss,S,26.0,female,7.9250,,False,False,True,False
3,4,Mrs,S,35.0,female,53.1000,C,False,True,False,False
4,5,Mr,S,35.0,male,8.0500,,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
886,887,Rev,S,27.0,male,13.0000,,False,False,False,True
887,888,Miss,S,19.0,female,30.0000,B,False,False,True,False
888,889,Miss,S,NaN,female,23.4500,,False,False,True,False
889,890,Mr,C,26.0,male,30.0000,C,True,False,False,False
890,891,Mr,Q,32.0,male,7.7500,,True,False,False,False

In [56]:
# based on the previous DataFrame, write code to obtain a DataFrame with
# PassengerId, Fare_25, Fare_50, Fare_75 and Fare_100 (they will have boolean values based on the percentile of fare they paid)

# let's get a data series of fare_information
ds_fare_info = df_titanic.Fare.describe()
ds_fare_info

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

In [57]:
ds_fare_info["75%"]

31.0

In [62]:
df_sub_2 = df_titanic[["PassengerId"]]
df_sub_2["Fare_25"] = df_titanic.Fare <= ds_fare_info["25%"]

# the following needs to get rid of Fare_25 == True
df_sub_2["Fare_50"] = ~(df_sub_2.Fare_25) & (df_titanic.Fare <= ds_fare_info["50%"] )

# same here
df_sub_2["Fare_75"] = ~(df_sub_2.Fare_25) & ~(df_sub_2.Fare_50) & (df_titanic.Fare <= ds_fare_info["75%"] )

df_sub_2["Fare_100"] = df_titanic.Fare > ds_fare_info["75%"] 
df_sub_2

d:\anaconda3\envs\py37-dsup\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

d:\anaconda3\envs\py37-dsup\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
d:\anaconda3\envs\py37-dsup\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

d:\anaconda3\envs\py37-dsup\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

     PassengerId  Fare_25  Fare_50  Fare_75  Fare_100
0              1     True    False    False     False
1              2    False    False    False      True
2              3    False     True    False     False
3              4    False    False    False      True
4              5    False     True    False     False
..           ...      ...      ...      ...       ...
886          887    False     True    False     False
887          888    False    False     True     False
888          889    False    False     True     False
889          890    False    False     True     False
890          891     True    False    False     False

[891 rows x 5 columns]

Another useful way of row access is by a boolean array (like in `numpy`).

In [ ]:
df_titanic.Embarked == 'S'

In [ ]:
df_titanic[df_titanic.Embarked == "S"]

In [ ]:
# since boolean arrays can be manipulated with & (and), | (or) and ~(not)
df_titanic[~(df_titanic.Embarked == "S")]

In [ ]:
df_titanic[(df_titanic.Embarked == "S") & ((df_titanic.Sex == "female") | (df_titanic.Age > 45))]