# Welcome from Week 09

ဒီတပါတ်မှာ ကျနော်တို့ Data Science နဲ့ Machine Learning မှာ အထူးအရေးပါတဲ့ Library တခုဖြစ်တဲ့ `pandas` library အကြောင်းကို လေ့လာကြမှာ ဖြစ်ပါတယ်။

In [ ]:
import pandas as pd

df_country = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/WorldDBTables/CountryTable.csv")
df_country.head()

# Data Frame and Data Series

![](https://i.ibb.co/Mfm14sZ/python-sci-com-landscape-drawio.png)

အရင်အပါတ်တွေက ပြောခဲ့သလိုပဲ python language + built-ins တွေအပေါ်မှာ `numpy` ကို အခြေခံထားတဲ့ `scipy` နဲ့ `pandas`၊ visualization အတွက် `matplotlib` တို့ကြောင့် python ecosystem ဟာ matlab တို့လိုပဲ scientific computing အတွက် သုံးလို့ကောင်းတဲ့ ecosystem တခု ဖြစ်လာရတယ်။ 

`pandas` မှာ `DataFrame` နဲ့ Data `Series` ဆိုတဲ့ class နှစ်ခုပါတယ်။ `Series` ကို ကော်လံတခုလို့ အလွယ်ပြောလို့ရပြီး `DataFrame` ကိုတော့ ဇယားကွက်လို့ အလွယ်ပြောလို့ ရတယ်။ 

`numpy` က 2d array ကို အခြေခံတာမို့လို့ `pandas` `DataFrame` မှာ `describe` ဆိုတဲ့ function ပါတယ်။

In [ ]:
df_country.describe()

In [ ]:
df_titanic = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
df_titanic.head()

In [ ]:
df_titanic.describe()

## အားလုံးနဲ့ အလုပ်လုပ်တဲ့ `pandas`

### Jupyter Notebook နဲ့ အတူ လက်တွဲအလုပ်လုပ်ခြင်း

အပေါ်က ဥပမာတွေမှာ ဘာသတိထားမိသလဲ။

> `pandas` object တွေဟာ `matplotlib` graph တွေလိုပဲ jupyter notebook နဲ့ လက်တွဲအလုပ်လုပ်ကြတယ်။ ဒါကြောင့် `print` လို့ explicitly မပြောရင် လှလှပပ ဇယားကွက်အနေနဲ့ ပေါ်လာကြတယ်။

In [ ]:
# Series တခုကို DataFrame ထဲက ထုတ်ယူမယ်။
df_titanic.Survived

In [ ]:
type(df_titanic.Survived)

In [ ]:
type(df_titanic)

### format တွေအများကြီး ဖတ်နိုင်/ရေးနိုင်ခြင်း

`pandas` `DataFrame` အဖြစ် ဖတ်နိုင်/ရေးနိုင်တဲ့ format တွေက အများကြီးပါပဲ။ အဲဒီထဲမှာ ထင်ရှားတာတွေကတော့ ...

* Databases (`read_sql`/`to_sql`)
* json (`read_json`/`to_json`)
* xml (`read_xml`/`to_xml`)
* Excel (`read_excel`/`to_excel`) နဲ့
* parquet (`read_parquet`/`to_parquet`) တို့ပဲ ဖြစ်ကြတယ်။

In [ ]:
df_titanic.to_json("titanic.json")

import json
from pprint import pprint

with open("titanic.json", "rt") as f:
    json_str = json.load(f)
    pprint(json_str)

`read_sql` နဲ့ `to_sql` တို့ကို နောက်တချိန်ကျရင် ပြောပါမယ်။ အခုတော့ `to_json`, `to_xml`, `to_excel`, `to_parquet` နဲ့ `read_json`, `read_xml`, `read_excel`, `read_parquet`  တို့ကို စမ်းကြည့်ပါဦး။

In [ ]:
# to test

## Frequently Used properties and functions

`DataFrame` ရဲ့ `dtypes` ဟာ `Series` တခုပဲ ဖြစ်ပြီး data type တွေကို သိမ်းထားတယ်။

In [ ]:
df_titanic.dtypes

In [ ]:
import numpy as np
df_titanic.select_dtypes(include=np.number, exclude=np.object0)

row `index` တွေနဲ့ column name `columns` တွေကိုလဲ access လုပ်နိုင်တယ်။

In [ ]:
df_titanic.index

In [ ]:
df_titanic.columns

`numpy` မှာလိုပဲ transpose လုပ်တာကို `T` ဆိုတဲ့ property ကနေ လုပ်ရတယ်။

In [ ]:
df_titanic.T

### `head` နဲ့ `tail`

အပေါ်ဆုံး row တွေနဲ့ အောက်ဆုံးက row တွေကို ကြည့်ဖို့ `head` နဲ့ `tail` function တွေကို သုံးနိုင်တယ်။

In [ ]:
df_titanic.head()

In [ ]:
df_titanic.tail(n=10)

စီချင်တာတွေ စီဖို့ `sort_values` function ကို သုံးရတယ်။

`ascending` argument ရဲ့ default value က `True` ဖြစ်တယ်။

`inplace` argument ရဲ့ default value က `False` ဖြစ်ပြီး စီထားတဲ့ `DataFrame` **အသစ်** ကို return တယ်။ `inplace` ကို `True` လို့ပေးရင် `DataFrame` ကိုပဲ sort လုပ်သွားပြီး `None` return ပြန်ပေးတယ်။

In [ ]:
df_titanic.sort_values(by="Pclass")

In [ ]:
df_titanic.sort_values(by="Pclass", ascending=False)

`to_numpy` ဆိုတဲ့ function က `numpy` array ကို ပြောင်းပေးတာ။ အလားတူပဲ `values` ဆိုတဲ့ property က underlying `numpy` array ကို ထုတ်ပေးတယ်။

In [ ]:
df_titanic.to_numpy()

In [ ]:
df_titanic.values

## Basic Access

### Column Access

Column တခုကို access လုပ်ဖို့ `.` နောက်မှာ column name သော်လည်းကောင်း၊ ဒါမှမဟုတ် square bracket အတွင်းမှာ `str` column name သော်လည်းကောင်း ထည့်ရေးရတယ်။

```python
survived_series = df_titanic.Survived
survived_series = df_titanic["Survived]
```

In [ ]:
# to test

`DataFrame` မှာ column အသစ်ထပ်တိုးလို့လဲ ရတယ်။ list-like object တခု ဒါမှမဟုတ် scalar value တခုကို assign လုပ်ပေးရုံပဲ။

In [ ]:
df_titanic["new_scalar_column"] = 0 # this will get extended as per numpy's broadcasting rules
df_titanic["new_vector_column"] = np.random.random(size=len(df_titanic))
df_titanic

column တွေအများကြီးပါတဲ့ sub `DataFrame` တခုကို ထုတ်ချင်ရင် column name တွေပါတဲ့ `list` တခုနဲ့ ထုတ်နိုင်တယ်။

ဥပမာ 

```python
df_sub = df_titanic[["PassengerId", "Name"]]
```

In [ ]:
df_sub = df_titanic[["PassengerId", "Name"]]
df_sub

In [ ]:
# write a function, when given a name "Last Name, Honorific. First Name", return Last Name, Honorific and First Name
def divide_name(name):
    # write code here to divide name to last_name, honorific and first_name
    return last_name, honorific, first_name

### အထူး function `apply`

အရင်တွေ့ခဲ့ဖူးတဲ့ `map` function လိုပဲ `apply` function ရှိတယ်။ သူ့အလုပ်လုပ်ပုံက default `axis=0` မှာ column by column, `axis=1` ဆိုရင် row by row အလုပ်လုပ်တယ်။

In [ ]:
df_titanic[["last_name", "honorific", "first_name"]] = df_titanic.apply(lambda x : divide_name(x.Name), axis=1, result_type="expand")
df_titanic

In [ ]:
# write code to add a column "embarked_full" based on value of "embarked" column
# C = Cherbourg, Q = Queenstown, S = Southampton

In [ ]:
def by_embarked_sex_and_age(x_1, x_2):
    t_1 = (x_1.Embarked, 0 if x_1.Sex == "female" else 1, x_1.Age)
    t_2 = (x_2.Embarked, 0 if x_2.Sex == "female" else 1, x_2.Age)
    if t_1 < t_2:
        return -1
    elif t_1 == t_2:
        return 0
    else:
        return +1

# အပေါ်က function ကပေးတဲ့ value ပေါ်မူတည်ပြီး sort ပေးပါ။

### Row Access

Row တွေကို square bracket နဲ့ `numpy` ပုံစံ access လို့ရတယ်။

In [ ]:
df_titanic[5:10]

### `loc` and `iloc`

> **Please avoid them as much as possible**

`loc` access is by labels (i.e. `index` and `columns`).

`iloc` is by pure integer index.

In [ ]:
df_titanic.loc[5:10, ["Name", "Survived"]]

In [ ]:
df_titanic.iloc[0:5, 2:4]

In [ ]:
# write code to obtain a DataFrame with PassengerId, honorific, Embarked, Cabin_First_Letter, Age, Sex and Fare

In [ ]:
# based on the previous DataFrame, write code to obtain a DataFrame with 
# PassengerId, honorific_Mr, honorific_Ms, honorific_Mrs, honorific_Others with honorific_<x> having boolean values

In [ ]:
# based on the previous DataFrame, write code to obtain a DataFRame with
# PassengerId, Fare_25, Fare_50, Fare_75 and Fare_100 (they will have boolean values based on the percentile of fare they paid)